.spreadsheet {
  margin: 10px 0 15px; }

.spreadsheet td {
  vertical-align: top; }

.spreadsheet tbody td:nth-child(3), .spreadsheet tr.htColHeader th:nth-child(3) {
  max-width: 70em; }

.spreadsheet tbody td:nth-child(4), .spreadsheet tr.htColHeader th:nth-child(4) {
  max-width: 70em; }

.spreadsheet th {
  text-align: left;
  font-weight: bold; }

.spreadsheet .htRowHeader {
  min-width: 0; }
