.wrap {
  margin: 7px 0; }
  .wrap input, .wrap textarea {
    border: 1px solid #373737;
    background: #e1e1e1;
    padding: 3px; }
  .wrap textarea {
    width: 400px;
    height: 150px; }
  .wrap label {
    display: block;
    width: 150px;
    float: left; }

.result {
  padding: 7px;
  display: inline-block;
  border-width: 1px;
  border-style: solid; }
  .result ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }

.error {
  background: #ffb0b0;
  border-color: #760000;
  color: #760000; }

.success {
  background: #bfffab;
  border-color: #1c9300;
  color: #1c9300; }

.textbox input {
  width: 200px; }

#honeypot_wrap {
  display: none; }
